
body {
  	margin: 60px auto; 
		width: 80%; 
}

header {
}

#menu {
    font-family: arial, helvetica, sans-serif;
    font-size: 90%;
    float: left;    
    padding: 1em;
    width: 11em;
}

.menuitem {
    margin: 0.5em 0 0.5em 3em;
}

.menuspace {
    border-top: 1px solid #ccf;
    margin: 2em 2em 2em 0em;
}

.icon {
    margin: 1em 0 1em 0;
    text-align: center;
}

contents {
    margin: 10em 5em 0 15em;
    padding: 0 2em 10em 2em;
    background: white;
    border-left: 1px solid #ccf;
    border-top: 1px solid #ccf;
}

lang {
    margin: 1.5em 0 -1.5em -1em;
    font-size: 80%;
    color: #333;
}

p {
    margin: 0.5em 2em 0.5em 2em;
    text-align: justify;
}

p.long {
    margin: 0.5em 2em 0.5em 2em;
    text-align: justify;
    text-indent: 1.5em;
}

table {
    margin: 0.5em 2em 0.5em 2em;
}


ul {
    margin: 0 0 0 2em;
}

li {
    margin: 0.5em 0 0.5em 0;
}

h1 {
    font-family: arial, helvetica, sans-serif;
    padding: 0.3em 0.6em;
    margin: 0.5em 0.5em 0 0.5em;
    border-left: 2px solid #bbe;
    border-top: 2px solid #bbe;
    background-color: #e8e8ff;
}

h2 {
    font-family: arial, helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 160%;
    padding: 0.2em 0.4em;
    margin: 2em 0 1em 0;
/*
    border-left: 1px solid #99f;
    border-top: 1px solid #99f;
    background-color: #e8e8ff;
*/
    border-left: 1px solid #c99;
    border-top: 1px solid #c99;
    background-color: #fff0f0;
    color: #312;
}

h3 {
    font-family: arial, helvetica, sans-serif;
    font-size: 115%;
    padding: 0.2em 0.4em;
    margin: 2em 1em 1em 1em;
/*
    border-left: 1px dotted #aaf;
    border-top: 1px dashed #aaf;
    background-color: #ededff;
*/
    border-left: 1px solid #3a3;
    border-top: 1px solid #3a3;
    background-color: #e0f8d0;
    color: #030;
}

h4 {
    margin: 2em 2em .5em 1.5em;
    padding: 0 0 0 0.5em;
/*
    border-top: 1px dashed #aaf;
    border-left: 1px dotted #aaf;
    background-color:#e8e8e8;
*/
    border-top: 1px solid #bb8;
    border-left: 1px solid #bb8;
    background-color:#f0f0b0;
    color: #430;
}


b {
    color: #822;
}

.vspace {
    border-top: 1px solid #ccf;
    text-align: center;
    width: 10em;
    margin: 2em auto 2em auto;
}

.important {
    color: #f44;
    font-weight: bold;
}

a:link  {
    text-decoration: none;
/*    border-bottom: 1px dashed #88f;*/
    border-bottom: 1px solid #88f;
}

a:link img {
    border-bottom: 1px solid #88f;
    padding: 0.5em;
}

a:visited {
    text-decoration: none;
/*    border-bottom: 1px dashed #f8a;*/
    border-bottom: 1px solid #f8a;
}

a:link:hover, a:link:hover img {
    background-color: #ddf;
}

a.noborder {
    border: 0;
}

.fixed {
    font-family : "courier new",courier,monospace;
    font-weight: bold;
    color: #444;
}

/* conferences */

.pc {
}

.csigleold {
    font-variant: small-caps;
    color: blue;
}

.csigle {
    font-variant: small-caps;
    font-weight: bold;
    color: blue;
}

.cname {
    color: #338;
}

.crole {
    color: #d33;
}


/* publications */

.pub {
    margin: 0.5em 3em 1em 2.5em;
    text-align: justify;
}

.pkey {
    font-size: 75%;
    font-weight: bold;
    color: #d33;
    margin-right: 0.25em;
}

.pauthor {
    font-variant: small-caps;
    color: #338;
    margin-right: 0.25em;
}


.ptitle {
    font-weight: bold;
    color: blue;
    margin-right: 0.25em;
}

.pconf {
    color: #282;
}

.plink {
    font-size: 75%;
    color: #f66;
}

.psee {
    font-size: 75%;
    color: #686;
}

.pref {
    font-size: 75%;
    font-weight: bold;
    color: #686;
}

.pspecial {
    color: #d44;
}


/* contact */

#contact {
    border-spacing: 2em 0.5em;
}

#contact th {
    text-align: left;
    
}

#contact tr {
    vertical-align:top;
}



/* games */

.score { font-weight: bold; color:#f22; }
.level { font-weight: bold; color:#22f; }
.help { color:#666; }


/* habilitation */
.ctitle { margin-left:10em; font-weight:bolder;color:#f22; }
.cother { margin-left:10em; color:#023; }
.person { font-variant:small-caps; color:#300; }
.institution { color:#030; }
.status { font-style:italic; color:#003; }
.people { margin-left: 4em; margin-bottom: 1em; border-spacing:2em 0.2em; }
